

#aboutUs{

}


#aboutUs .container {
  background: #ffffff;
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
/* Menu left side of the page */
#aboutUs .container .left-menu {
    justify-content: start;
    padding-left: 20px;
  }

#aboutUs .container .left-menu span{
  color: #2E97F2;
  font-family: "Poppins",sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  margin-left: 22px;
}

#aboutUs .container .left-menu .menu-links{

}
#aboutUs .container .left-menu .menu-links ul{

}
#aboutUs .container .left-menu .menu-links a{
  color: #939393;
  text-decoration: none;
  list-style: none;
}
#aboutUs .container .left-menu .menu-links a:hover{
  color: #2E97F2;
}
#aboutUs .container .left-menu .menu-links li{
  margin-bottom: 5px;
}
/* Main Content Area */

#aboutUs .container .content-area{

}
#aboutUs .container .content-area h1{
  font-family: "Poppins",sans-serif;
  font-size: 2rem;
  color: #2E97F2;
  margin: 0;
  padding: 0 0 10px;
}
#aboutUs .container .content-area .image{

}
#aboutUs .container .content-area p{
    margin-bottom: 10px;
    max-width: 612px;
    width: 100%;
    font-size: 1.1rem;
    font-family: "Poppins",sans-serif;
}
#aboutUs .container .content-area .specialties{

}
#aboutUs .container .content-area .specialties ul{
  padding-left: 35px;
  /* list-style-type: none;
  margin: 0;
  padding: 0; */
}
#aboutUs .container .content-area .specialties a{
  color: #939393;
  list-style: none;
  text-decoration: none;
}
#aboutUs .container .content-area .specialties a:hover{
  color: #2E97F2;
}
#aboutUs .container .content-area .specialties li{
  margin-bottom: 5px;
  font-family: "Poppins",sans-serif;
}
#aboutUs .container .content-area .locations a{
  color: #939393;
  list-style: none;
  text-decoration: none;
}
#aboutUs .container .content-area .locations a:hover{
  color: #2E97F2;
}
#aboutUs .container .content-area .locations li{
  margin-bottom: 5px;
  font-family: "Poppins",sans-serif;
}
