.btn{
    padding: 1rem;
    background: $color-btn;
    color: $color-white;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.25s all ease-in-out;

    &:hover{
        background: darken($color-btn, 10%);
        color: $color-white;
        box-shadow: 0 10px 13px -7px $color-dark, 5px 5px 15px 5px rgba(0,0,0,0);
    }
}

.btn-reverse{
    background: $color-white;
    color: $color-btn;
    font-size: 0.8rem;
    transition: 0.3s background-color ease-in-out;

    &:hover{
        background: $color-btn;
        color: $color-white;
    }
}