#locations {
    width: 100%;

    z-index: -1;
    display: flex;
    position: relative;
    padding-top: 115px;
    background: #2E97F2;


    .container {
        width: 100%;
        display: flex;
        margin-top: 50px;
        text-align: center;


        .info-container {

            // display: flex;
            // justify-content: center;
            margin-left: 170px;

            h2 {
                font-size: 3rem;

            }

            h3 {
                font-size: 2rem;
            }

            .contact-info {
                font-size: 1.1rem;
                font-weight: 600;
            }

        }

        .map_container {
            height: 200px;

            iframe {
                border: 2px solid white;
                border-radius: 4px;
                width: 634px;
                height: 224px;
                margin-left: 139px;
            }

            // display: flex;
            // justify-content: center
        }
    }

}

#location-list {
    width: 100%;
    z-index: -1;
    display: flex;
    position: relative;
    padding-top: 115px;
    background: #2E97F2;

    .suite-info {
        width: 100%;
    }

    .info-list {
        width: 100%;
        position: relative;

        .header-li {
            border: 2px solid white;
            margin-left: 200px;
            margin-right: 240px;
            border-radius: 5px;
            padding-top: 10px;
            margin-bottom: 20px;

            span {
                float: right;
                position: relative;
                top: -29px;
                padding-right: 5px;
                padding-top: 3px;
            }

            .info-1 {
                border: 2px solid white;

                li {
                    margin-bottom: 5px;
                }

                h4 {
                    margin-bottom: 10px;
                    margin-top: 20px;

                }
            }



            .info-2 {
                border: 2px solid white;

                &:hover {
                    background: red;
                    display: none;
                }

                li {
                    margin-bottom: 5px;
                }

                h4 {
                    margin-bottom: 10px;
                    margin-top: 20px;
                }
            }

            .info-3 {
                border: 2px solid white;

                li {
                    margin-bottom: 5px;
                }

                h4 {
                    margin-bottom: 10px;
                    margin-top: 20px;
                }
            }

            .info-4 {
                border: 2px solid white;

                li {
                    margin-bottom: 5px;
                }

                h4 {
                    margin-bottom: 10px;
                    margin-top: 20px;
                }
            }

            .info-5 {
                border: 2px solid white;

                li {
                    margin-bottom: 5px;
                }

                h4 {
                    margin-bottom: 10px;
                    margin-top: 20px;
                }
            }

            .info-6 {
                border: 2px solid white;

                li {
                    margin-bottom: 5px;
                }

                h4 {
                    margin-bottom: 10px;
                    margin-top: 20px;
                }
            }

            .info-7 {
                border: 2px solid white;

                li {
                    margin-bottom: 5px;
                }

                h4 {
                    margin-bottom: 10px;
                    margin-top: 20px;
                }
            }

            .info-8 {
                border: 2px solid white;

                li {
                    margin-bottom: 5px;
                }

                h4 {
                    margin-bottom: 10px;
                    margin-top: 20px;
                }
            }

            .info-9 {
                border: 2px solid white;

                li {
                    margin-bottom: 5px;
                }

                h4 {
                    margin-bottom: 10px;
                    margin-top: 20px;
                }
            }

            .info-10 {
                border: 2px solid white;

                li {
                    margin-bottom: 5px;
                }

                h4 {
                    margin-bottom: 10px;
                    margin-top: 20px;
                }
            }

            .info-11 {
                border: 2px solid white;

                li {
                    margin-bottom: 5px;
                }

                h4 {
                    margin-bottom: 10px;
                    margin-top: 20px;
                }
            }

        }



    }
}